#Windows
Thumbs.db
Desktop.ini
#MacOS
.DS_Store
#VS
.vscode/*
!.vscode/extensions.json
#Unity
Library/
Temp/
Logs/
obj/
Build/
*.csproj
*.sln
Packages/packages-lock.json
#Python/Js
__pycache__/
*.pyc
.env
venv/
node_modules/
dist/
